@page "/AddTeamMember"
@using global::GrowthTracker.BackEnd.Dto;
@using global::GrowthTracker.BackEnd.Orchestrator

@inject NavigationManager NavigationManager
@inject ITeamMemberOrchestrator TeamMemberOrchestrator
<h2>Add Team Member</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <EditForm Model="@dto" OnValidSubmit="@CreateTeamMember">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="FirstName" class="control-label">First Name</label>
                    <input form="FirstName" class="form-control" @bind="@dto.FirstName" />
                </div>
                <div class="form-group">
                    <label for="LastName" class="control-label">Last Name</label>
                    <input form="LastName" class="form-control" @bind="@dto.LastName" />
                </div>
                <!-- obviously this needs to be data driven-->
                <div class="form-group">
                    <label for="Team" class="control-label"></label>
                    <select @bind="@dto.TeamId" class="form-control">
                        <option value="">-Pick Team</option>
                        <option value="1">Team A</option>
                        <option value="2">Team B</option>
                    </select>
                </div>
                <!-- obviously this needs to be data driven-->
                <div class="form-group">
                    <label for="Role" class="control-label"></label>
                    <select @bind="@dto.RoleId" class="form-control">
                        <option value="">-Pick Role</option>
                        <option value="2">.NET Dev</option>
                        <option value="1002">Dct Dev</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="StartDate" class="control-label">Start Date</label>
                    <input form="StartDate" type="date" class="form-control" @bind="@dto.StartDate" />
                </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
            </EditForm>
        </div>
    </div>

</form>

@code {
    AddTeamMemberDto dto = new AddTeamMemberDto();

    protected async void CreateTeamMember()
    {
        await TeamMemberOrchestrator.AddTeamMemberAsync(dto);
        NavigationManager.NavigateTo("TeamMembers");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("TeamMembers");
    }
}

@code {

}
